.tumblr{
  width:100%;
}

.tumblr-post{
  width:50%;
  max-width:500px;
  margin:auto;
}

.tumblr-photo{
  width:100%;
}

a{
  color:red;
}

.no-events {
  font-size: 2rem;
  margin-left: 5%;
  margin-top: 2%;
}
